
<%- include("partials/header") %> 

	<div class="container" style="color: white">
		<p>Hello</p> 
		
		<div class="row">
			<p>Here are the list of colleges A.T your rank</p>
			
			<ul>			
				<li>IIT Bombay</li>
				<li>IIT Kanpur</li>
				<li>IIT Madras</li>
				<li>NITK Surathkal</li>	
				<li>NIT Trichy</li>
				<li>NIT Rourkela</li>
				<li>BITS Pinali</li>
				<li>BITS Goa</li>
				<li>MNIT Jaipur</li>

			</ul>

		</div>




	</div>




<%- include("partials/footer") %> 